@mixin move {
  opacity: 0;
  transition: all ease-in-out 1s;
}
$color--black: black;
$color--off-black: #333;
$color--grey: #f4f2f1;
$color--primary-medium: #e2e2d8;
$color--secondary-light: #ffea61;
$color--primary-light: #f3f3ef;
$color--secondary-dark: #ebcb00;
$color--primary-dark: #c4bbaf;
$color--yellow-accent: #ffdc00;
$color--white: white;

.flex {
  display: flex;
}
.grid {
  display: grid;
}
@mixin basePara($font-weight, $line-height, $font-size) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color--off-black;
  line-height: $line-height;
}
.thinAndsmall {
  @include basePara(300, 1.5, 14px);
}
.boldAndxsmall {
  @include basePara(600, 1.5, 12px);
}
.container {
  max-width: 80rem;
  margin: 0 auto;

  padding: 0 64px;
}

.off {
  display: grid;
  grid-template-columns: 1fr 35rem;
  grid-row: 2/-2;
  grid-column: 2/3;
  padding: 144px 75px;
  max-width: 80rem;
  margin: 0 auto;
}
.empty {
  order: -1;
}
.bg {
  background-color: $color--primary-light;
}

//Creating margin-bottom helpers

$base-margin: 1rem;

@for $i from 1 through 10 {
  .mb-#{$i} {
    margin-bottom: $base-margin * $i;
  }
}
//Animation Classes

.transXm {
  @include move;
  transform: translateX(-50%);
}

.transXmplus {
  @include move;
  transform: translateX(-100%);
}

.transXp {
  @include move;
  transform: translateX(50%);
}
.transXpplus {
  @include move;
  transform: translateX(75%);
}
.transXpplus1 {
  @include move;
  transform: translateX(120%);
}
